@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "Life Savers", sans-serif;
}

:root{
    --primay: #CFC3B0;
    --secondary: #876D59;
    --black: #000;
    --white: #fff;
}

header{
    background-color: var(--primay);
    height: 6rem;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

header nav div.menu{
    width: 100%;
}

header nav div a img{
    height: 3.5rem;
}

main{
    background-image: url('./imagem/fundo2.jpg');
    background-repeat: no-repeat;
    min-height: calc(100vh - 9.5rem);
    background-size: 100% 100%;
}

main section{
    background-color: var(--secondary);
    max-width: 40rem;
    min-height: calc(100vh - 9.5rem);
    margin: 0 auto;
}


main.index section {
    display: flex;
    flex-direction: column;
    position: relative;

}

main.index section img {
    width: 20%;
    height: 20%;
    display: block;
    margin: 3rem;
    margin-top: 6rem;
    top: 10;
    left: 10;
}

main section div 

footer{
    background-color: var(--primay);
    height: 3.5rem;
}

footer div.menu2{
    width: 100%;
}

footer div a img{
    height: 2.5rem;
}

