@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "Life Savers", sans-serif;
}


:root{
    --primay: #CFC3B0;
    --secondary: #876D59;
    --black: #000;
    --white: #fff;
}

header{
    background-color: var(--primay);
    height: 6rem;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

header nav div.menu{
    width: 100%;
}

header nav div a img{
    height: 3.5rem;
}

main{
    background-image: url('./imagem/fundo2.jpg');
    background-repeat: no-repeat;
    min-height: calc(100vh - 9.5rem);
    background-size: 100% 100%;
}

main section{
    background-color: var(--secondary);
    max-width: 40rem;
    min-height: calc(100vh - 9.5rem);
    margin: 0 auto;
}

main.index{
    padding: 20px;    
}

main.produtos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main.produtos ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

main.produtos li {
    text-align: center;
    margin-top: 20px;
}

main.produtos li img {
    width: 200px;
}

main.produtos li p {
    margin-top: 10px;
    font-size: 16px;
}

main.index section {
    display: flex;
    flex-direction: column;
    position: relative;
}

main.index section img {
    width: 20%;
    height: 20%;
    display: block;
    margin: 0.25rem;
    margin-top: 2.5rem;
    top: 10;
    left: 10;
}

main.index section div p.texto{
   font-size: 40px;
   text-align: center;
   margin-top: 30px;
}

main.index section div p.texto2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
 }

  main.index section ul div.titulo1{
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
 }

 main.index ul div.titulo1 p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: block;
 }

 main.index ul div.titulo2 p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: block;
 }

 main.index ul div.titulo3 p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: block;
 }

 
 main.index section ul div.titulo2{
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
 }

 main.index section ul div.titulo3{
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
 }



 main menu.index.html2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    align-content: baseline;
    padding: 0.5rem;
}

main.menu.index.html2{
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

main.menu.index section aside {
    display: flex;
}

main.comentario section aside p {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}


 


footer{
    background-color: var(--primay);
    height: 2.85rem;
}

footer div.menu2{
    width: 100%;
}

footer div a img{
    height: 2.5rem;
}





